<?xml version="1.0"?>
<robot name="denge2">

<material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>
<material name="orange">
    <color rgba="0.972 0.746 0.23 1"/>
  </material>
  <material name="black">
    <color rgba="0 0 0 1"/>
  </material>
  <material name="white">
    <color rgba="1 1 1 1"/>
  </material>

  <link name="tekerlek_link">
    <visual>
      <geometry>
        <mesh filename="tekerlek_.stl"/>
      </geometry>
        <origin rpy="0 0 0" xyz="0 0 1.5"/>
        <material name="blue"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="tekerlek_.stl"/>
      </geometry>
        <origin rpy="0 0 0" xyz="0 0 1.5"/>
    </collision>
    <inertial>
      <mass value="10"/>
      <inertia ixx="1e-3" ixy="0.0" ixz="0.0" iyy="1e-3" iyz="0.0" izz="1e-3"/>
    </inertial>
  </link>

</robot>
